<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="vizualizar-postagem">
      <div class="img">
        <img src="{{this.utilService.carregaImagem(this.usuario.username, this.postagem.img)}}" alt="{{this.utilService.carregaImagem(this.usuario.username, this.postagem.img)}}" />
      </div>
      <div class="dados-postagem">
        <div class="dados-usuario-postagem">
          <div class="img">
            <img src="{{this.utilService.carregaImagem(usuarioPostagem.username, usuarioPostagem.img)}}" alt="{{this.utilService.carregaImagem(usuarioPostagem.username, usuarioPostagem.img)}}" />
          </div>
          <h5>{{ usuarioPostagem.username }}</h5>
        </div>
        <div class="mensagens-postagem" *ngFor='let mensagem of postagem.mensagens' >
          <h5>{{ mensagem.username }}</h5>
          <p>{{ mensagem.descricao }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
