.header {
  position: relative;

  width: 100%;
  height: auto;

  padding: 0;
  margin: 0;

  border-top: 0px solid var(--border-gray) !important;
  border-left: 0px solid var(--border-gray) !important;
  border-right: 0px solid var(--border-gray) !important;
  border-bottom: 0px solid var(--border-gray-ligth) !important;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.header .img {
  width: 10%;
  height: auto;

  border-radius: 50%;

  margin-left: 1%;

}

.header .img img {
  padding: 10%;

  width: 80%;
  height: auto;

  border-radius: 50%;

}

.header p {
  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

  cursor: pointer;

}

.header .icon {
  position: absolute;

  right: 0;

  padding: 1%;

  width: 5%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

}

.header .icon svg {
  width: 100%;
  height: auto;

}

.img-postagem {
  width: 100%;
  height: auto;

}

.img-postagem img {
  width: 100%;
  height: auto;

}

.modal .modal-dialog .vizualizar-postagem {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--background-section);

}

.modal .modal-dialog .vizualizar-postagem .img {
  width: 60%;
  height: auto;

}

.modal .modal-dialog .vizualizar-postagem .img img {
  width: 100%;
  height: auto;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem {
  width: 40%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem {
  width: 100%;
  height: auto;

  padding: 5%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px solid var(--border-gray);

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img {
  width: 12%;
  height: auto;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img img {
  width: 100%;
  height: auto;

  border-radius: 50%;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem h5 {
  font-size: 13px;
  font-weight: 500;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 6% !important;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem {
  width: 100%;
  height: auto;

  padding: 2% 0%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem h5 {
  font-size: 14px;
  font-weight: 600;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 6% !important;

}

.modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem p {
  font-size: 15px;
  font-weight: 400;

  margin: 0 !important;

  color: var(--color-text-black);

  margin-left: 6% !important;

}

.acoes-postagem {
  width: 100%;
  height: auto;

  padding: 1%;
  margin-top: 1%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

}

.acoes-postagem .preenche-like {
  color: var(--color-like-postagem);

}

.acoes-postagem .icon {
  width: 4.5%;
  height: auto;

  margin: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.acoes-postagem .icon svg {
  width: 100%;
  height: auto;

}

.acoes-postagem .qt-curtidas-postagem {
  width: 100%;
  height: auto;

}

.acoes-postagem .qt-curtidas-postagem p {
  width: 100%;
  height: auto;

  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

}

.comentarios-postagem-usuario {
  width: 100%;
  height: auto;

  padding: 0% 2%;
  margin-bottom: 1%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.comentarios-postagem-usuario h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin-top: 0.3% !important;
  margin: 0;

}

.comentarios-postagem-usuario p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

.mensagens-postagem {
  width: 100%;
  height: auto;

  padding: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.mensagens-postagem h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

}

.mensagens-postagem p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

.footer {
  margin-top: 2%;
  padding: 2% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--border-gray-ligth);

}

.footer .icon {
  width: 5%;
  height: auto;

}

.footer .icon svg {
  padding: 5%;

  width: 80%;
  height: auto;

  color: var(--color-text-black);

}

.footer .postagem {
  width: 80%;
  height: auto;

  padding-left: 1%;

}

.footer .postagem input {
  width: 100%;
  height: auto;

  outline: none;

  border: none;

  color: var(--color-text-black);

}

.footer button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 16px;
  font-weight: 600;

}

@media(max-width: 760px) {

  .header {
    width: 100%;
    height: auto;

    padding: 0;
    margin: 0;

    border-top: 0px solid var(--border-gray) !important;
    border-left: 0px solid var(--border-gray) !important;
    border-right: 0px solid var(--border-gray) !important;
    border-bottom: 0px solid var(--border-gray-ligth) !important;

    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .header .img {
    width: 10%;
    height: auto;

    border-radius: 50%;

    margin-left: 1%;

  }

  .header .img img {
    padding: 10%;

    width: 80%;
    height: auto;

    border-radius: 50%;

  }

  .header p {
    margin: 0;

    font-weight: 600;
    font-size: 13px;

    color: var(--color-text-black);

  }

  .img-postagem {
    width: 100%;
    height: auto;

  }

  .img-postagem img {
    width: 100%;
    height: auto;

  }

  .modal .modal-dialog .vizualizar-postagem {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--background-section);

  }

  .modal .modal-dialog .vizualizar-postagem .img {
    width: 60%;
    height: auto;

  }

  .modal .modal-dialog .vizualizar-postagem .img img {
    width: 100%;
    height: auto;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem {
    width: 40%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem {
    width: 100%;
    height: auto;

    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 1px solid var(--border-gray);

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img {
    width: 12%;
    height: auto;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem .img img {
    width: 100%;
    height: auto;

    border-radius: 50%;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .dados-usuario-postagem h5 {
    font-size: 13px;
    font-weight: 500;

    margin: 0 !important;

    color: var(--color-text-black);

    margin-left: 6% !important;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem {
    width: 100%;
    height: auto;

    padding: 2% 0%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem h5 {
    font-size: 14px;
    font-weight: 600;

    margin: 0 !important;

    color: var(--color-text-black);

    margin-left: 6% !important;

  }

  .modal .modal-dialog .vizualizar-postagem .dados-postagem .mensagens-postagem p {
    font-size: 15px;
    font-weight: 400;

    margin: 0 !important;

    color: var(--color-text-black);

    margin-left: 6% !important;

  }

  .acoes-postagem {
    width: 100%;
    height: auto;

    padding: 1%;
    margin-top: 1%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

  }

  .acoes-postagem .icon {
    width: 4.5%;
    height: auto;

    margin: 0% 2%;

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .acoes-postagem .icon svg {
    width: 100%;
    height: auto;

  }

  .acoes-postagem .qt-curtidas-postagem {
    width: 100%;
    height: auto;

  }

  .acoes-postagem .qt-curtidas-postagem p {
    width: 100%;
    height: auto;

    margin: 0;

    font-weight: 600;
    font-size: 13px;

    color: var(--color-text-black);

  }

  .comentarios-postagem-usuario {
    width: 100%;
    height: auto;

    padding: 0% 2%;
    margin-bottom: 1%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

  }

  .comentarios-postagem-usuario h5 {
    font-weight: 600;
    font-size: 14px;

    margin-right: 1% !important;
    margin-top: 0.3% !important;
    margin: 0;

  }

  .comentarios-postagem-usuario p {
    font-weight: 400;
    font-size: 14px;

    margin: 0;

  }

  .mensagens-postagem {
    width: 100%;
    height: auto;

    padding: 0% 2%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .mensagens-postagem h5 {
    font-weight: 600;
    font-size: 14px;

    margin-right: 1% !important;
    margin: 0;

  }

  .mensagens-postagem p {
    font-weight: 400;
    font-size: 14px;

    margin: 0;

  }

  .footer {
    margin-top: 2%;
    padding: 2% 0%;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--border-gray-ligth);

  }

  .footer .icon {
    width: 5%;
    height: auto;

  }

  .footer .icon svg {
    padding: 5%;

    width: 80%;
    height: auto;

    color: var(--color-text-black);

  }

  .footer .postagem {
    width: 80%;
    height: auto;

    padding-left: 1%;

  }

  .footer .postagem input {
    width: 100%;
    height: auto;

    outline: none;

    border: none;

    color: var(--color-text-black);

  }

  .footer button {
    border: none;

    background-color: transparent;

    color: var(--color-text-blue-text-link-2);

    font-size: 16px;
    font-weight: 600;

  }

}
