<section>
  <div class="menu-usuario">
    <p>Editar Perfil</p>
  </div>
  <div class="dados-usuario">
    <div class="perfil-img-username-usuario">
      <div class="img">
        <img src="{{ usuario.img }}" alt="{{ usuario.username }}">
      </div>
      <h5>{{ usuario.username }}</h5>
    </div>
    <div class="username-usuario">
      <div class="input">
        <label for="nome">Nome</label>
        <input [(ngModel)]='usuario.nome' type="text" name="nome" id="nome" placeholder="Nome de usuário">
      </div>
      <div class="input">
        <label for="email">E-mail</label>
        <input [(ngModel)]='usuario.email' type="text" name="email" id="email" placeholder="E-mail de usuário">
      </div>
      <div class="input">
        <label for="username">Username</label>
        <input [(ngModel)]='usuario.username' type="text" name="username" id="username" placeholder="Username">
      </div>
      <div class="input">
        <label for="img">Img Perfil</label>
        <input [(ngModel)]='usuario.img' type="text" name="img" id="img" placeholder="Imagem de perfil">
      </div>
      <div class="input">
        <label for="site">Site</label>
        <input [(ngModel)]='usuario.site' type="text" name="site" id="site" placeholder="Site">
      </div>
      <div class="input">
        <label for="bio">Biografia</label>
        <textarea type="text" [(ngModel)]='usuario.biografia' name="bio" id="bio" placeholder="Minha biografia..."></textarea>
      </div>
      <div class="input">
        <label for="senha">Senha</label>
        <input type="password" (input)='confirmeSenha($event)' name="senha" id="senha" placeholder="Senha">
      </div>
      <div class="input">
        <label for="confirmar-senha">Confirmar senha</label>
        <input type="password" [(ngModel)]='usuario.senha' name="confirmar-senha" id="confirmar-senha" placeholder="Confirmar senha">
      </div>
      <div class="botao-enviar">
        <button type="submit" (click)='atualizar()' >Enviar</button>
      </div>
    </div>
  </div>
</section>
