section {
  width: 100%;
  height: auto;

  padding: 2%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--background-page);

}

section .feed-noticias {
  width: 40%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 0% 1%;

}

section .feed-noticias .header {
  background-color: var(--background-section);

  width: 100%;
  height: auto;

  margin-bottom: 2%;
  padding: 2%;

  border-radius: 3px;
  border: 1px solid var(--border-gray);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-y: scroll;

}

section .feed-noticias .header::-webkit-scrollbar {
  display: none;

}

section .feed-noticias .header .histories-usuario {
  width: 10%;
  height: auto;

  margin: 0% 1%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

section .feed-noticias .header .histories-usuario .img {
  width: 100%;
  height: auto;

  border-radius: 50%;
  border: 3px solid var(--color-text-black);

}

section .feed-noticias .header .histories-usuario .img img {
  width: 100%;
  height: auto;

  padding: 2%;

  border-radius: 50%;

}

section .feed-noticias .header .histories-usuario p {
  margin: 0;

  font-weight: 400;
  font-size: 12px;

  color: var(--color-text-black);

}

section .feed-noticias .feed {
  background-color: var(--background-section);

  width: 100%;
  height: auto;

  margin-top: 2%;

  border-radius: 3px;
  border: 1px solid var(--border-gray);

}

section .feed-noticias .feed .postagem-usuario {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .header {
  width: 100%;
  height: auto;

  padding: 0;
  margin: 0;

  border-top: 0px solid var(--border-gray) !important;
  border-left: 0px solid var(--border-gray) !important;
  border-right: 0px solid var(--border-gray) !important;
  border-bottom: 1px solid var(--border-gray-ligth) !important;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .header .img {
  width: 10%;
  height: auto;

  border-radius: 50%;

  margin-left: 1%;

}

section .feed-noticias .feed .postagem-usuario .header .img img {
  padding: 10%;

  width: 80%;
  height: auto;

  border-radius: 50%;

}

section .feed-noticias .feed .postagem-usuario .header p {
  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .img-postagem {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .img-postagem img {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem {
  width: 100%;
  height: auto;

  padding: 1%;
  margin-top: 1%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .icon {
  width: 4.5%;
  height: auto;

  margin: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .icon svg {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .qt-curtidas-postagem {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .acoes-postagem .qt-curtidas-postagem p {
  width: 100%;
  height: auto;

  margin: 0;

  font-weight: 600;
  font-size: 13px;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario {
  width: 100%;
  height: auto;

  padding: 0% 2%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .comentarios-postagem-usuario p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem {
  width: 100%;
  height: auto;

  padding: 0% 2%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .mensagens-postagem p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

}

section .feed-noticias .feed .postagem-usuario .footer {
  margin-top: 2%;
  padding: 2% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--border-gray-ligth);

}

section .feed-noticias .feed .postagem-usuario .footer .icon {
  width: 5%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .footer .icon svg {
  padding: 5%;

  width: 80%;
  height: auto;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .footer .postagem {
  width: 80%;
  height: auto;

  padding-left: 1%;

}

section .feed-noticias .feed .postagem-usuario .footer .postagem input {
  width: 100%;
  height: auto;

  outline: none;

  border: none;

  color: var(--color-text-black);

}

section .feed-noticias .feed .postagem-usuario .footer button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 16px;
  font-weight: 600;

}

section .bloco-sugestoes-perfis {
  width: 25%;
  height: auto;

}

section .bloco-sugestoes-perfis .sugestoes-perfil {
  width: 25%;
  height: auto;

  margin: 0% 1%;

  position: fixed;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil {
  width: 100%;
  height: auto;

  margin-top: 5%;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil {
  width: 80%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil .dados-usuario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: auto;

  padding: 2%;
  margin-left: 5%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil .dados-usuario h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

  color: var(--color-text-black);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil .dados-usuario p {
  font-weight: 400;
  font-size: 14px;

  margin: 0;

  color: var(--color-text-gray);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil .img {
  width: 20%;
  height: auto;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil .meu-perfil .img img {
  width: 100%;
  height: auto;

  border-radius: 50%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .dados-meu-perfil button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 12px;
  font-weight: 600;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  margin-top: 5%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios h5 {
  width: 100%;
  height: auto;

  font-weight: 600;
  font-size: 14px;

  margin: 0;
  margin-bottom: 1% !important;

  color: var(--color-text-gray);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil {
  width: 100%;
  height: auto;

  margin-top: 1%;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil {
  width: 80%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: auto;

  padding: 2%;
  margin-left: 5%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario h5 {
  font-weight: 600;
  font-size: 14px;

  margin-right: 1% !important;
  margin: 0;

  color: var(--color-text-black);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .dados-usuario p {
  font-weight: 400;
  font-size: 12px;

  margin: 0;

  color: var(--color-text-gray);

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .img {
  width: 10%;
  height: auto;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil .meu-perfil .img img {
  width: 100%;
  height: auto;

  border-radius: 50%;

}

section .bloco-sugestoes-perfis .sugestoes-perfil .sugestoes-perfil-usuarios .dados-meu-perfil button {
  border: none;

  background-color: transparent;

  color: var(--color-text-blue-text-link-2);

  font-size: 12px;
  font-weight: 600;

}
