<section>
  <div class="feed-noticias">

    <!-- CARREGA COMPONENTE STORY -->
    <app-story-util class="header" [listaDeStorys]="listaDeStorys"></app-story-util>

    <div class="feed">
      <div class="postagem-usuario" *ngFor='let postagem of listaDePostagens | orderBy: key: reverse' >

        <!-- CARREGA COMPONENTE POST -->
        <app-post [postagem]="postagem" ></app-post>

      </div>
    </div>
  </div>

  <!-- CARREGA COMPONENTE SUGESTOES DE USUARIOS COM OUTPUT LISTAGEM -->
  <app-sugestoes class="bloco-sugestoes-perfis" (atualizaVisualizacaoUsuario)="pushAtualizaVisualizacaoUsuario($event)" ></app-sugestoes>

</section>
