section {
  width: 100%;
  height: auto;

  padding: 2%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--background-page);

}

section .feed-noticias {
  width: 40%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 0% 1%;

}

section .feed-noticias .header {
  background-color: var(--background-section);

  width: 100%;
  height: auto;

  margin-bottom: 2%;
  padding: 2%;

  border-radius: 8px;
  border: 1px solid var(--border-gray);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-y: scroll;

}

section .feed-noticias .header::-webkit-scrollbar {
  display: none;

}

section .feed-noticias .feed {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario {
  width: 100%;
  height: auto;

  margin-top: 2.5%;
  margin-bottom: 2.5%;

  background-color: var(--background-section);

  border: 1px solid var(--border-gray);
  border-radius: 8px;

}

section .feed-noticias .feed .postagem-usuario .img-postagem {
  width: 100%;
  height: auto;

}

section .feed-noticias .feed .postagem-usuario .img-postagem img {
  width: 100%;
  height: auto;

}

section .bloco-sugestoes-perfis {
  width: 25%;
  height: auto;

}

@media(max-width: 760px) {
  section {
    width: 100%;
    height: auto;

    padding: 0%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--background-page);

  }

  section .feed-noticias {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 0% 0%;

  }

  section .feed-noticias .header {
    background-color: var(--background-section);

    width: 100%;
    height: auto;

    margin-bottom: 0%;
    padding: 0%;

    border-radius: 0px;
    border: 0px solid var(--border-gray);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow-y: scroll;

  }

  section .feed-noticias .header::-webkit-scrollbar {
    display: none;

  }

  section .feed-noticias .feed {
    width: 100%;
    height: auto;

  }

  section .feed-noticias .feed .postagem-usuario {
    width: 100%;
    height: auto;

    margin-top: 2.5%;
    margin-bottom: 2.5%;

    background-color: var(--background-section);

    border: 0px solid var(--border-gray);
    border-radius: 0px;

  }

  section .bloco-sugestoes-perfis {
    width: 25%;
    height: auto;

    display: none;

  }

}
