<section>
  <div class="feed-noticias">
    <div class="header">
      <div class="histories-usuario" routerLink="/story" >
        <div class="img retirar-borda">
          <!-- <img src="{{ img }}" alt="{{ username }}"> -->
          <img src="{{carregaImagem(username,img)}}" alt="{{carregaImagem(username,img)}}" />
        </div>
        <p>{{ username }}</p>
        <div class="icon-adicionar-stories">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </div>
      </div>
      <div *ngFor='let story of listaDeStorys' class="histories-usuario">
        <div *ngIf="validaData(story.data)" class="img instagram retirar-borda" (click)='findByIdUsuario(story.usuario.id)' >
          <!-- <img src="{{ story.usuario.img }}" alt="{{ story.usuario.username }}" > -->
          <img src="{{carregaImagem(story.usuario.username, story.usuario.img)}}" alt="{{carregaImagem(story.usuario.username, story.usuario.img)}}" />
        </div>
        <p *ngIf="validaData(story.data)" [routerLink]="['/perfil', story.usuario.id]" >{{ story.usuario.username }}</p>

        <div class="w3-container">
          <div id="gerenciar-modal" class="w3-modal">
            <div class="w3-modal-content">
              <div class="modal-storys">
                <span onclick="document.getElementById('gerenciar-modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="img-story" *ngFor='let foto of usuarioStorys.storys | orderBy: key: reverse' >
                  <!-- <div class="img-s" style='background-image: url({{url}}/image/carregar/{{foto.img}});'></div> -->
                  <div class="img-s" style='background-image: url("{{carregaImagemStory(foto.img)}}");'></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="feed">
      <div class="postagem-usuario" *ngFor='let postagem of listaDePostagens | orderBy: key: reverse' >

        <!-- CARREGA COMPONENTE POST -->
        <app-post [postagem]="postagem"></app-post>

      </div>
    </div>
  </div>
  <div class="bloco-sugestoes-perfis">
    <div class="sugestoes-perfil">
      <div class="dados-meu-perfil">
        <div class="meu-perfil">
          <a [routerLink]="['/perfil', idUsuarioLogado]" class="img">
            <!-- <img src="{{ img }}" alt="{{ username }}"> -->
            <img src="{{carregaImagem(username, img)}}" alt="{{carregaImagem(username, img)}}" />
          </a>
          <div class="dados-usuario">
            <h5 [routerLink]="['/perfil', idUsuarioLogado]" >{{ username }}</h5>
            <p>{{ nome }}</p>
          </div>
        </div>
        <button type="button" (click)="logoutUsuario()" >
          Mudar
        </button>
      </div>
      <div class="sugestoes-perfil-usuarios">
        <h5>Sugestões para você</h5>
        <div class="dados-meu-perfil" *ngFor='let user of listaDeUsuarios' >
          <div *ngIf='user.id != idUsuarioLogado' class="meu-perfil">
            <div class="img">
              <!-- <img src="{{ user.img }}" alt="{{ user.username }}"> -->
              <img src="{{carregaImagem(user.username, user.img)}}" alt="{{carregaImagem(user.username, user.img)}}" />
            </div>
            <div class="dados-usuario">
              <a [routerLink]="['/perfil', user.id]" >{{ user.username }}</a>
              <p>{{ user.nome }}</p>
            </div>
          </div>
          <button *ngIf='user.id != idUsuarioLogado' type="button" (click)='seguirUsuario(user.id, idUsuarioLogado)' >
            Seguir
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
