<!--<label class="image-upload-container btn btn-bwm">-->
<label>
  <!--<span>Seleciona a imagem: </span>-->
  <input #imageInput
         type="file"
         accept="image/*"
         (change)="processFile(imageInput)">
</label>

<div *ngIf="selectedFile" class="img-preview-container">

  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
       [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
  </div>

  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>

  <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
    <div class="ajuste-imagem">
      Imagem carregada com sucesso!

      <div class="imagem-carregada" >
        <img [src]="url" *ngIf="url" data-toggle="modal" data-target="#exampleModal" >
      </div>

    </div>
  </div>
  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Ocorreu um problema com o carregamento!</div>
</div>

<!-- <img src="http://localhost:8080/image/get-imagem/instagram1.jpg" alt=""> -->
